<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
	<title>Hospital Login</title>

</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Blood Donor Management System</a>
			</div>
		</div>
    </header>

	<div class="login_wrapper">
		<div class="login_panel">
			<div class="login_head">
				<h1>Hospital Registration</h1>
			</div>
				<div class="form-group">
					<label for="login_username">Hospital Name</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
				<div class="form-group">
					<label for="login_username">Hospital Identifier Code</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">Blood Bank Admin Email</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">Address</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">District</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">City</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
				<div class="form-group">
					<label for="login_username">Contact 2</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
				<div class="form-group">
					<label for="login_username">Contact 2</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">Password</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
                <div class="form-group">
					<label for="login_username">Confirm Password</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
				<div class="login_submit">
					<button class="btn btn-primary btn-block btn-lg">Sign Up</button>
				</div>
				
			
		</div>

	</div>
	
</body>
</html>