<div id="sidebar" class="one-fourth">
    <!-- Navigation list -->
    <div class="user_thumbs">
      <h4>Donor ID: 123456</h4>
      <hr class="sep10" />
      <div class="thumb"><img src="../../../assets/images/members/default.jpg" alt=""/></div>
      <hr class="sep10" />
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/<?php echo $profile['user_data']['facebook']; ?>" target="_blank"><i class="icon-facebook"></i></a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=<?php echo $profile['user_data']['linkedin']; ?>" target="_blank"><i class="icon-linkedin"></i></a></li>
        <li><a href="https://plus.google.com/u/0/<?php echo $profile['user_data']['google']; ?>" target="_blank"><i class="icon-google-plus"></i></a></li>
      </ul>
    </div>
    <hr class="sep40" />
    <ul class="nav-list">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Events</a></li>
         </ul>
  </div>