<div id="sidebar" class="one-fourth">

      <hr class="sep30" />
      <!-- Accordion -->
      <div class="accordion">
          <h5>ABOUT BLOOD & INHERITANCE </h5>
          <div>
            <p class="intro">Blood is living fluid and when your donated blood, you give guarantee to save a life. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p></div>
          <h5>BLOOD FACTS</h5>
          <div>
            <p class="intro">Did you know? A woman has approximately 4.5 liters of blood in her body, while men have 5.6 liters. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p></div>
          <h5>WHO NEEDS BLOOD</h5>
          <div>
            <p class="intro">Every 2 seconds someone needs blood. Your blood helps more than one life at a time. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p></div>
          <h5>BLOOD DONATION BASIC TIPS</h5>
          <div>
            <p class="intro">Anyone who is in good health is at least 17 years old, and weighs at least 50 Kgs may donate blood every 56 days. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p></div>
          <h5>BLOOD DONATION MYTHS</h5>
          <div>
            <p class="intro">There are lots of myths that people have about blood donation and even educated people believe in the same. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p></div>
          <h5>BENEFITNS TO THE BLOOD DONORS</h5>
          <div>
            <p class="intro">Beside that by donating blood the body will produce a replacement.There are 5 other benefits that you can feel. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p>              
          </div>
          <h5>BLOOD DISEASES & DISORDERS</h5>
          <div>
            <p class="intro"> Find information on causes and treatment of blood diseases & disorders like anemia,leukemia,iron deficiency anemia etc. <br><a href="<?php echo base_url();?>index.php/pages/view/faqs">read more ></a></p>
          </div>
          
          
        </div>
    <!-- End of accordion -->
    <hr class="sep30" />
    
  </div>