<app-header></app-header>
<div style="height: 200px"></div>
<div id="content" class="clearfix">
  <!-- Breadcumbs -->
  <div class="breadcumbs">
    <div class="container">
      <a href="#">Home page</a> <a class="current" href="#">Sign In</a>
    </div>
  </div>
  <!-- End of breadcumbs -->
  <div class="container">
    <hr class="sep40" />
    <!-- Sidebar -->
    <app-leftsidebar></app-leftsidebar>
    <!-- End of sidebar -->
    <!-- Main -->
    <div id="main" class="three-fourth last-in-row">
        <h2><strong>Blood Donor Community</strong></h2>
        <img src="../../../assets/images/projects/banner2.jpg" />
        <p>Our Blood Donor Community makes it easier for you to view your donation history, find convenient blood drives,
          and manage your contact preferences. If you have not done so already, you will need to register by filling form below.</p>
           <table width="90%" border="0" align="center" >
    <tr>
      <td width="55%" height="288"> <h4><span class="icon-pencil"></span><strong>Enter Personal Info</strong></h4>
      <span id="fname">
        <input name="fname" id="fname" type="text" placeholder="FIRST NAME"><br />
        </span>
            <span id="lanme">
        <input name="lname" id="lname" type="text" placeholder="LAST NAME">
        </span>
            <span id="city">
        <select name="city"  id="city">
              <option selected="selected" value="0">SELECT A CITY</option>
  <option value="Addalachchenai">Addalachchenai </option>
  <option value="Alayadiwembu">Alayadiwembu </option>
  <option value="Ampara">Ampara </option>
  <option value="Damana">Damana </option>
  <option value="Dehiattakandiya">Dehiattakandiya </option>
  <option value="Kalmunai">Kalmunai </option>
  <option value="Kalmunai Tamil Division">Kalmunai Tamil Division </option>
  <option value="Karativu">Karativu </option>
  <option value="Akkaraipattu">Akkaraipattu </option>
  <option value="Lahugala">Lahugala </option>
  <option value="Mahaoya">Mahaoya </option>
  <option value="Ninthavur">Ninthavur </option>
  <option value="Padiyathalawa">Padiyathalawa </option>
  <option value="Pothuvil">Pothuvil </option>
  <option value="Samanthurai">Samanthurai </option>
  <option value="Thirukkovil">Thirukkovil </option>
  <option value="Uhana">Uhana </option>
  <option value="Galenbindunuwewa">Galenbindunuwewa </option>
  <option value="Galnewa">Galnewa </option>
  <option value="Horowpothana">Horowpothana </option>
  <option value="Ipalogama">Ipalogama </option>
  <option value="Kahatagasdigiliya">Kahatagasdigiliya </option>
  <option value="Kebithigollewa">Kebithigollewa </option>
  <option value="Kekirawa">Kekirawa </option>
  <option value="Maha Vilachchiya">Maha Vilachchiya </option>
  <option value="Medawachchiya">Medawachchiya </option>
  <option value="Mihinthale">Mihinthale </option>
  <option value="Nochchiyagama">Nochchiyagama </option>
  <option value="Padaviya">Padaviya </option>
  <option value="Palagala">Palagala </option>
  <option value="Palugaswewa">Palugaswewa </option>
  <option value="Rajanganaya">Rajanganaya </option>
  <option value="Rambewa">Rambewa </option>
  <option value="Thalawa">Thalawa </option>
  <option value="Thambuttegama">Thambuttegama </option>
  <option value="Thirappane">Thirappane </option>
  <option value="Colombo">Colombo </option>
  <option value="Dehiwala-Mount Lavinia">Dehiwala-Mount Lavinia </option>
  <option value="Hanwella">Hanwella </option>
  <option value="Homagama">Homagama </option>
  <option value="Kaduwela">Kaduwela </option>
  <option value="Kesbewa">Kesbewa </option>
  <option value="Kolonnawa">Kolonnawa </option>
  <option value="Maharagama">Maharagama </option>
  <option value="Moratuwa">Moratuwa </option>
  <option value="Nugegoda">Nugegoda </option>
  <option value="Akmeemana">Akmeemana </option>
  <option value="Ambalangoda">Ambalangoda </option>
  <option value="Baddegama">Baddegama </option>
  <option value="Balapitiya">Balapitiya </option>
  <option value="Benthota">Benthota </option>
  <option value="Bope-Poddala">Bope-Poddala </option>
  <option value="Elpitiya">Elpitiya </option>
  <option value="Galle Four Gravets">Galle Four Gravets </option>
  <option value="Habaraduwa">Habaraduwa </option>
  <option value="Hikkaduwa">Hikkaduwa </option>
  <option value="Karandeniya">Karandeniya </option>
  <option value="Nagoda">Nagoda </option>
  <option value="Neluwa">Neluwa </option>
  <option value="Niyagama">Niyagama </option>
  <option value="Thawalama">Thawalama </option>
  <option value="Yakkalamulla">Yakkalamulla </option>
  <option value="Attanagalla">Attanagalla </option>
  <option value="Biyagama">Biyagama </option>
  <option value="Divulapitiya">Divulapitiya </option>
  <option value="Dompe">Dompe </option>
  <option value="Gampaha">Gampaha </option>
  <option value="JaEla">JaEla </option>
  <option value="Katana">Katana </option>
  <option value="Kelaniya">Kelaniya </option>
  <option value="Mahara">Mahara </option>
  <option value="Minuwangoda">Minuwangoda </option>
  <option value="Mirigama">Mirigama </option>
  <option value="Negombo">Negombo </option>
  <option value="Wattala">Wattala </option>
  <option value="Ambalantota">Ambalantota </option>
  <option value="Angunakolapelessa">Angunakolapelessa </option>
  <option value="Beliatta">Beliatta </option>
  <option value="Hambantota">Hambantota </option>
  <option value="Katuwana">Katuwana </option>
  <option value="Lunugamvehera">Lunugamvehera </option>
  <option value="Okewela">Okewela </option>
  <option value="Sooriyawewa">Sooriyawewa </option>
  <option value="Tangalle">Tangalle </option>
  <option value="Thissamaharama">Thissamaharama </option>
  <option value="Weeraketiya">Weeraketiya </option>
  <option value="Jaffna">Jaffna </option>
  <option value="Agalawatta">Agalawatta </option>
  <option value="Bandaragama">Bandaragama </option>
  <option value="Beruwala">Beruwala </option>
  <option value="Bulathsinhala">Bulathsinhala </option>
  <option value="Dodangoda">Dodangoda </option>
  <option value="Horana">Horana </option>
  <option value="Kalutara">Kalutara </option>
  <option value="Madurawala">Madurawala </option>
  <option value="Mathugama">Mathugama </option>
  <option value="Panadura">Panadura </option>
  <option value="Walallavita">Walallavita </option>
                              
                  </select>
                        </span>
        <span id="zip">
        <input name="zip" type="text"  placeholder="ZIP CODE">
        </span>
        <span id="zip">
          <input name="NIC" type="text"  placeholder="NIC">
          </span>        
            <span id="dob">
        <input name="dob" type="text" placeholder="BIRTH DAY" onclick="displayCalendar(document.forms['regform'].dob,'yyyy-mm-dd',this);">
        </span>
            <span id="bloodtype">
        <select name="bloodtype" id="bloodtype">
        <option selected="selected" value="0">SELECT BLOOD GROUP</option>
  <option value="A+">A+</option>
  <option value="A-">A-</option>
  <option value="B+">B+</option>
  <option value="B-">B-</option>
  <option value="AB+">AB+</option>
  <option value="AB-">AB-</option>
  <option value="O+">O+</option>
  <option value="O-">O-</option>
        </select>
        </span>
        <br>
            <span id="email">
        <input id="email" name="email" type="text" placeholder="EMAIL ADDRESS">
        </span>
        </td>
      <td width="45%"><h4><span class="icon-pencil"></span><strong>Create Login</strong></h4>
          <span id="user">
      <input name="user" type="text" placeholder="USERNAME">	
      </span>
          <span id="pass">
      <input name="pass" type="password"  placeholder="PASSWORD">
      </span>
          <span id="vrifypassword">
      <input name="vrifypassword" type="password" placeholder="VERIFY PASSWORD" >
      </span>	</td>
    </tr>
    <tr>
      <td colspan="2"><p><span class="icon-asterisk re"></span><em> By clicking REGISTER NOW, you agree to <a href="#">Our Terms</a> and that you have read our <a href="#">Privacy Policy</a></em></p></td>
    </tr>
    <tr>
      <td colspan="2"><input name="" type="submit" class="button-outline blue" value="REGISTER NOW"></td>
      </tr>
  </table>	  

  
      </div>
    <!-- End of main -->
    <hr class="sep40" />
  </div>
</div>
<app-footer></app-footer>
