<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
	<title>Hospital Login</title>

</head>
<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Blood Donor Management System</a>
			</div>
		</div>
    </header>

	<div class="login_wrapper">
		<div class="login_panel">
			<div class="login_head">
				<h1>Log In as Hospital Admin</h1>
			</div>
				<div class="form-group">
					<label for="login_username">Hospital Identifier Code</label>
					<input type="text" id="login_username" name="login_username" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Username"  >
				</div>
				<div class="form-group">
					<label for="login_password">Password </label>
					<input type="password" id="login_password" name="login_password" class="form-control input-lg" data-required="true" data-required-message="Please enter a valid Password" >
				</div>
				<div class="login_submit">
					<button class="btn btn-primary btn-block btn-lg">Log In</button>
				</div>
				
			
		</div>

	</div>
	
</body>
</html>