<app-header></app-header>
<!-- Slider -->
<div id="slider">
	<div class="slider-content container">
      <div class="main-flexslider">
        <ul class="slides">
            <li>
                <!--<h1><span class="number"></span><strong>Why</strong> Donate Blood?</h1>-->
                <div class="metro-boxes">
                  <a class="metro-box black-gradient wide" href="project-details.html">
                      <div class="metro-box-photo"><img src="../../assets/images/projects/possible-club-red-need-permission.jpg" alt=""/></div>
                      <div class="metro-box-icon"><i class="icon-flag"></i></div>
					  <div class="metro-box-title"><h5>Blood Donor Community</h5></div>
                  </a>
                  <a class="metro-box red-gradient normal " href="service-details.html">
	  				  <div class="metro-box-icon"><i class="icon-tint"></i></div>
					  <div class="metro-box-title"><h5>Learn About Blood</h5></div>
                      
                  </a>
				  <a class="metro-box blue-gradient normal last-in-row" href="service-details.html">
				  <div class="metro-box-text"><h5>For First-Time Donors</h5></div>
				  <div class="metro-box-icon " ><i class="icon-plus"></i></div>
                      <div class="metro-box-text"><p>Are you eligible? Tips for successful donation & more »</p></div>
                      
                  </a>
                  <a class="metro-box orange-gradient normal first-in-row" href="service-details.html">
				  <div class="metro-box-text"><h5>For Student Donors</h5></div>
                      <div class="metro-box-icon"><i class="icon-user"></i></div>
                      <div class="metro-box-text"><p>Can you give blood? 
What's the process? 
See more »</p></div>
                  </a>
                  <a class="metro-box black-gradient wide" href="project-details.html">
                      <div class="metro-box-photo"><img src="../../assets/images/projects/project_08.jpg" alt=""/></div>
                      <div class="metro-box-icon"><i class="icon-comments"></i></div>
  					  <div class="metro-box-title"><h5>Donor Stories</h5></div>

                  </a>
                  <a class="metro-box green-gradient normal last-in-row" href="service-details.html">
                      <div class="metro-box-icon"><i class="icon-ok"></i></div>
                      <div class="metro-box-title"><h5>Blood Donation Appointment</h5></div>
                  </a>
				  
				  
                </div>
            </li>
            <li>
                <div class="metro-boxes">
                  <a class="metro-box green-gradient normal" href="service-details.html">
                      <div class="metro-box-icon"><i class="icon-picture"></i></div>
                      <div class="metro-box-title"><h5>Galery</h5></div>
                  </a>
                  <a class="metro-box black-gradient wide" href="project-details.html">
                      <div class="metro-box-photo"><img src="../../assets/images/projects/banner-pass.jpg" alt=""/></div>
                      <div class="metro-box-icon"><i class="icon-pencil"></i></div>
                      <div class="metro-box-title"><h5></h5></div>

                  </a>
                  <a class="metro-box yellow-gradient normal last-in-row" href="service-details.html">
                      <div class="metro-box-icon"><i class="icon-cloud"></i></div>
                      <div class="metro-box-title"><h5>NEWS</h5></div>
                  </a>
                  <a class="metro-box blue-gradient wide first-in-row" href="service-details.html">
                      <div class="metro-box-icon"><i class="icon-search"></i></div>
                      <div class="metro-box-title"><h5>Search Blood Donor</h5></div>
                  </a>
                  <a class="metro-box black-gradient wide" href="project-details.html">
                      <div class="metro-box-photo"><img src="../../assets/images/projects/project_09.jpg" alt=""/></div>
                      <div class="metro-box-icon"><i class="icon-play"></i></div>
                      <div class="metro-box-title"><h5>Post Your Blood Request</h5></div>
                  </a>
                </div>
            </li>
        </ul>
      </div>
    </div>
</div>
<!-- End of slider -->

<!-- Content -->
<div id="content" class="clearfix">
	<div class="container">
      <hr class="sep40" />
      <!-- Text slider -->
      <div class="text-slides flexslider">
          <ul class="slides">
              <li>
                  <h1 class="intro-header">Save a <strong>Life</strong> , Give <strong>Blood</strong></h1>
                  <p class="intro">The blood you donate gives someone another chance at life. One day that someone may be a close relative, a friend, a loved one—or even you.</p>
                  <a class="button-outline blue" href="">REQUEST BLOOD</a><a class="button-outline defalut" href="#">DONATE BLOOD</a>
              </li>
              <li>
                  <h1 class="intro-header">Five minutes of <strong>your time + 350 ml</strong>. of your blood = <strong>One life</strong> saved</h1>
                  <p class="intro">If you’re a blood donor, you’re a hero to someone, somewhere, who received your gracious gift of life.</p>
                  <a class="button-outline blue" href="">REQUEST BLOOD</a><a class="button-outline defalut" href="#">DONATE BLOOD</a>
              </li>
              <li>
                  <h1 class="intro-header"><strong>Share a little</strong>, care a little – <strong>Donate Blood</strong></h1>
                  <p class="intro">Do you feel you don’t have much to offer? You have the most precious resource of all: the ability to save a life by donating blood! Help share this invaluable gift with someone in need</p>
                  <a class="button-outline blue" href="">REQUEST BLOOD</a><a class="button-outline defalut" href="#">DONATE BLOOD</a>
              </li>
          </ul>
      </div>
      <!-- End of text slider -->
      <hr class="sep40" />
      <!-- Projects carousel -->
      <div class="project-slides">
        <h1>Resent <strong>Blood Requests</strong><span>People need your help right now.You can make it possible.</span></h1>
        <div class="jcarousel-control">
          <a class="jcarousel-prev" href="#"></a>
          <a class="jcarousel-next" href="#"></a>
        </div>
        <div class="project-carousel">
            <ul>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
				<li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
				<li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
				<li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
				<li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
				<li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_01.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  A-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Chamil Jayasanka, Homagama</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_02.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  B-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Kasun Hasaranga, Horana</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_03.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  AB+<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Dimuthu Sampath, Colombo</span></a></div>
                    </blockquote>                </li>
                <li class="project-item ">
                    <blockquote>
                      <div class="author-photo"><img src="../../assets/images/avatars/avatar_04.jpg" alt=""></div>
                      <div class="quote-content"><strong>Blood Group:</strong>  O-<br><strong>Age:</strong> 25<br><strong>Phone:</strong> +94777777777</div>
                      <div class="quote-meta"><a href="#"><span>Sumudu Prasadinie, Raddoluwa</span></a></div>
                    </blockquote>                </li>
            </ul>
        </div>
        <div class="jcarousel-pagination"></div>
      </div>
      <!-- End of projects carousel -->
      <hr class="sep40" />
	  <div class="one-half">
      	<h2><strong>How</strong> Does This Work?</h2>
        <p>When a person is willing to donate his blood, he needs to register in this site along with his address, area phone numbers. During crisis in and around your area, the person who need blood will be able to contact you after having searched the site. This helps the time in acquiring blood, and the speed at which the blood is available helps save the patients life. Are you ready to be the one who wipes out tears from a mother&rsquo;s, father&rsquo;s, husbend’s, wife’s or neighbor’s eyes?</p>
		<p>Blood banking has become a very complicated business. You and I are some people who can help make the blood donation as strong as we are. Ours a not-for-profit, charitable organization where you can register free to have your blood donated.</p>
        <a class="button-outline defalut" href="#">MAKE A BLOOD DONATION APPOINTMENT</a>
      </div>
	  <div class="one-half last-in-row">
        <div class="accordion">
            <h5>ABOUT BLOOD & INHERITANCE </h5>
            <div>
              <p class="intro">Blood is living fluid and when your donated blood, you give guarantee to save a life. <br><a href="#">read more ></a></p></div>
            <h5>BLOOD FACTS</h5>
            <div>
              <p class="intro">Did you know? A woman has approximately 4.5 liters of blood in her body, while men have 5.6 liters. <br><a href="#">read more ></a></p></div>
            <h5>WHO NEEDS BLOOD</h5>
            <div>
              <p class="intro">Every 2 seconds someone needs blood. Your blood helps more than one life at a time. <br><a href="#">read more ></a></p></div>
            <h5>BLOOD DONATION BASIC TIPS</h5>
            <div>
              <p class="intro">Anyone who is in good health is at least 17 years old, and weighs at least 50 Kgs may donate blood every 56 days. <br><a href="#">read more ></a></p></div>
            <h5>BLOOD DONATION MYTHS</h5>
            <div>
              <p class="intro">There are lots of myths that people have about blood donation and even educated people believe in the same. <br><a href="#">read more ></a></p></div>
            <h5>BENEFITNS TO THE BLOOD DONORS</h5>
            <div>
              <p class="intro">Beside that by donating blood the body will produce a replacement.There are 5 other benefits that you can feel. <br><a href="#">read more ></a></p>              
            </div>
			<h5>BLOOD DISEASES & DISORDERS</h5>
            <div>
              <p class="intro"> Find information on causes and treatment of blood diseases & disorders like anemia,leukemia,iron deficiency anemia etc. <br><a href="#">read more ></a></p>
            </div>
            
            
          </div>
		</div>
      
      <hr class="sep40" />
    </div>
    
</div>
<!-- End of content -->

<app-footer></app-footer>
